<!DOCTYPE html>
<html lang="en">
<%include ../../Layouts/Ordenes/Header.ejs %>
<%include ../../Layouts/Ordenes/tabs.ejs %>
<%include ./modal.ejs %>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="tab-content" id="ex2-content">
                <!--TAB PARA TABLA DE LISTADO-->
                <div
                class="tab-pane fade show active"
                id="ex3-tabs-1"
                role="tabpanel"
                aria-labelledby="listado"
                >
                    <!--ZAMPAR AQUI TODO EL MIERDERO DE LA TABLA DE MOTORISTAS-->
                    <div class="row border border-light">
                        <div class="col-lg-12">
                            <table class="hover listado" >
                                <thead>
                                    <tr>
                                        <th>Identidad</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Observacion</th>
                                        <th>Transportista</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody class="table-hover">
                                    <% if (motoristas) { %>
                                        <% for(var i = 0; i < motoristas.length; i++) { %>
                                          <tr>
                                            <td><%= motoristas[i].Identidad %></td>
                                            <td><%= motoristas[i].Nombre %></td>
                                            <td><%= motoristas[i].Apellido %></td>
                                            <td><%= motoristas[i].Observacion %></td>
                                            <td><%= motoristas[i].Transportista %></td>
                                            <td>
                                              <a href="/catalogos/mot/<%= motoristas[i].Identidad %>" class="btn btn-warning btn-sm">Editar</button>
                                              <a href="/catalogos/mot/del/<%= motoristas[i].Identidad %>" class="btn btn-danger btn-sm">Eliminar</a>
                                            </td>
                                          </tr>
                                        <% } %>
                                    <% } %>
                                </tbody>
                            </table>  
                        </div>
                    </div>                                     
                </div>
                <!--TAB PARA FORM DE REGISTRO-->
                <div
                class="tab-pane fade"
                id="ex3-tabs-2"
                role="tabpanel"
                aria-labelledby="regform"
                >
                    <!--ZAMPAR AQUI EL FORM DE REGISTRO-->
                    <div class="row d-flex justify-content-center">
                        <form class="text-center border border-light p-5 col-md-4" action="/catalogos/mot/new" method="POST" >
                            <!-- Grid row -->
                            <div class="form-row">
                            <!-- Grid column -->
                            <div class="col-lg-12">
                                <!-- Material input -->
                                <div class="md-form mt-0">
                                    <input id="Identidad" name="id" type="text" class="form-control" maxlength="13" autocomplete="off" required>
                                    <label for="Identidad">Identidad</label>                                    
                                </div>
                            </div>
                            <!-- Grid column -->
                            <div class="md-form col-lg-12">
                                <!-- Material input -->
                                <div class="md-form mt-0">
                                    <input id="nom" name="nombre" type="text" class="form-control" autocomplete="off" required>                                    
                                    <label for="nom">Nombre</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                            <div class="md-form col-lg-12">
                                <!-- Material input -->
                                <div class="md-form mt-0">
                                    <input id="apellido" name="apellido" type="text" class="form-control" autocomplete="off" required>   
                                    <label for="apellido">Apellido</label>                                 
                                </div>
                            </div>                          
                            <!-- Grid column -->
                            <div class="md-form col-lg-12">
                                <textarea id="form7" name="obs" class="md-textarea form-control" rows="3" autocomplete="off"></textarea>
                                <label for="form7">Observacion</label>
                            </div>
                            <!-- Grid column -->
                            <div class="md-form col-lg-12">
                                <div class="md-form mt-0">
                                    <!--el data-toggle="modal" es el que activa la modal. el data-target es el nombre de la modal que debe activar-->
                                    <input name="rtnTrans" required="required" class="form-control openModal4Id" placeholder="RTN Transporista" type="text" name="Transportistas" 
                                     id="rtnTrans" data-toggle="modal" data-target="#modalExtData" autocomplete="off"
                                    >
                                </div>                                
                            </div>
                            </div>
                            <div class="col-md-12">
                                <button id="regMot" class="btn btn-primary" type="submit">Registrar</button>
                            </div>
                            <!-- Grid row -->
                        </form> 
                    </div>                        
                </div>
            </div>
        </div>
    </div>
<%include ../../Layouts/Ordenes/Footer.ejs %>
</html>